* {
  font-family: Arial;
  background-color: rgba(182, 182, 158, 0.608);
}

/* Name */
nav {
  color: rgb(2, 87, 87);
  text-align: center;
  border: 1px solid rgb(2, 87, 87);
  padding: 10px;
  margin: 4px;
}

a:link {
  color: rgb(2, 87, 87);
}

a:visited {
  color: rgb(58, 132, 58);
}

a:hover {
  color: darkgoldenrod;
}

h2 {
color: rgb(48, 72, 59);
}

img {
  width: 250px;
  margin: 4px;
  padding: 10px;
  float: right;
}

p {
  margin: 4px;
  color:darkolivegreen
}
